@model List<BookingListViewModel.Hotel>
@{
    ViewData["Title"] = "BookingHotelList";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}



<table class="table table-bordered">
    <tr>

        <th>Otel Adi</th>
        <th>Resim</th>
        <th>Tarih</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.property.name</td>
            <td><img src="@item.property.photoUrls" /></td>
            <td>@item.property.checkinDate </td>


        </tr>
    }
</table>
