@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zxx">

@await Component.InvokeAsync("_UIHeadComponentPartial")

<body>

    @await Component.InvokeAsync("_UINavbarComponentPartial")

    @RenderBody()

   

   
    <br /><br />
    @await Component.InvokeAsync("_UIFooterComponentPartial")

    @await Component.InvokeAsync("_UISearchComponentPartial")

    @await Component.InvokeAsync("_UIScriptComponentPartial")
</body>

</html>